@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>

    <p>Please reach us at 655 1st Avenue, San Diego, CA 92101</p>
    <p>We can also be contacted by telephone at 555-1234 </p>

    <img src="~/images/chilipeppers.jpeg" />




</address>
